extends layout

block content

    script(type='text/javascript').
        var chnnls = {};
        $(document).ready(function() {
            PreChargeChannel(1)
         });

        function PreChargeChannel(i){
            if (i <= 40) {
                $.get( "/channel/AV" + i, function( data) {
                    if (data != "") {
                        chnnls["AV" + i] == data;    
                    }
                    if (i == 40) {
                        LoadChannels();
                    }
                    else {
                        i++;
                        PreChargeChannel(i);
                    }
                });
            }
        }
        function LoadChannels(){
            $("div.channel").each(function(index) {
                var chnlId = $(this).attr("channel-id");
                var node = this;
                if (chnnls[chnlId] == undefined) {
                    $.get( "/channel/" + chnlId, function( data ) {
                        chnnls[chnlId] == data;
                        $(node).html(data);
                    });
                }
                else {
                    $(node).html(chnnls[chnlId]);
                }
            });
        }
        
    each ev in events
        if ev.type != "OTHER"
            div(class="im-centered")
                div(class="row")
                    div(class="col-sm-12 event-box")
                        div(class="col-sm-2")
                            case ev.sport
                                when "FUTBOL"
                                    - var img = "/images/sports/football.png"
                                when "BALONCESTO"
                                    - var img = "/images/sports/basketball.png"
                                when "FUTBOL"
                                    - var img = "/images/sports/football.png"                                                                        
                                default
                                    - var img = ""
                                    
                            if img != ""
                                img(src="#{img}" width="50px")
                        div(class="col-sm-10")                                            
                            div(class="row")
                                div(class="col-sm-6 col-xs-height")
                                    h3(class="")= ev.date
                                div(class="col-sm-6 col-xs-height")
                                    h3(class="")= ev.sport
                            div(class="row top-buffer")
                                h3(class="col-sm-12 col-xs-height")
                                    strong= ev.name
                            div(class="row top-buffer")
                                div(class="col-sm-12")
                                    each ch in ev.channels
                                        div(class="channel" channel-id="#{ch.name}")
                                            div(class="col-sm-4 col-xs-height channel" )
                                                button(type="button" class="btn btn-default btn-lg  btn-block" aria-label="Play" onclick="location.href='#{token}'")
                                                    span(class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true")                        

 
                
            
